registry=https://registry.npmjs.org/
@george:registry=https://pkgs.dev.azure.com/thomasgardham/_packaging/thomasgardham/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 9/20/2019.
; begin auth token
//pkgs.dev.azure.com/thomasgardham/_packaging/thomasgardham/npm/registry/:username=thomasgardham
//pkgs.dev.azure.com/thomasgardham/_packaging/thomasgardham/npm/registry/:_password=eWZ3dHNra2JhM2Fvb3Q2cDJnN3RmYnRoeW9temtpeGJ2M25yYWV1aTZkdDNrYWVscnNyYQ==
//pkgs.dev.azure.com/thomasgardham/_packaging/thomasgardham/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/thomasgardham/_packaging/thomasgardham/npm/:username=thomasgardham
//pkgs.dev.azure.com/thomasgardham/_packaging/thomasgardham/npm/:_password=eWZ3dHNra2JhM2Fvb3Q2cDJnN3RmYnRoeW9temtpeGJ2M25yYWV1aTZkdDNrYWVscnNyYQ==
//pkgs.dev.azure.com/thomasgardham/_packaging/thomasgardham/npm/:email=npm requires email to be set but doesn't use the value
; end auth token